/********** Template CSS **********/

:root {
  --primary: #9f987e;
  --secondary: #977d75;
  --light: #dbe9ea;
  --dark: #fff;
}

h1,
h2,
.font-weight-bold {
  font-weight: 700 !important;
}

h3,
h4,
.font-weight-semi-bold {
  font-weight: 600 !important;
}

h5,
h6,
.font-weight-medium {
  font-weight: 500 !important;
}
textarea {
  resize: none;
}

@media only screen and (max-width: 600px) {
  .mobileWidthFix {
    width: 256px;
    margin: 0 auto;
  }
}

.btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  transition: 0.5s;
}

.btn-primary,
.btn-secondary {
  color: #ffffff;
}

.btn-primary:hover {
  background: #56918f;
  border-color: #56918f;
}

.btn-secondary:hover {
  background: #56918f;
  border-color: #56918f;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

.top-shape::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 100%;
  top: 0;
  left: -17px;
  background: var(--primary);
  transform: skew(40deg);
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Poppins", sans-serif;
  padding: 35px 15px;
  font-size: 18px;
  color: var(--dark);
  outline: none;
  transition: 0.5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
  padding: 20px 15px;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
  color: #1a2b2b;
}

@media (max-width: 991.98px) {
  .navbar-light .navbar-nav .nav-link,
  .sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 10px 0;
  }
}

.carousel-caption {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(23, 29, 28, 0.85);
  z-index: 1;
}

@media (max-width: 576px) {
  .carousel-caption h5 {
    font-size: 14px;
    font-weight: 500 !important;
  }

  .carousel-caption h1 {
    font-size: 30px;
    font-weight: 600 !important;
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: 10%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 3rem;
  height: 3rem;
}

@media (min-width: 991.98px) {
  .banner {
    position: relative;
    margin-top: -90px;
    z-index: 1;
  }
}

.section-title h5::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 3px;
  right: -55px;
  bottom: 11px;
  background: var(--primary);
}

.section-title h5::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 3px;
  right: -75px;
  bottom: 11px;
  background: var(--secondary);
}

.twentytwenty-wrapper {
  height: 100%;
}

.hero-header {
  background: linear-gradient(#111d1df7, #111d1db5),
    url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.bg-appointment {
  background: linear-gradient(#111d1de0, #111d1de0),
    url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.appointment-form {
  background: rgba(215, 179, 167, 0.8);
}

.service-item img,
.service-item .bg-light,
.service-item .bg-light h5,
.team-item .team-text {
  transition: 0.5s;
}

.service-item:hover img {
  transform: scale(1.15);
}

.team-item .team-text::after,
.service-item .bg-light::after {
  position: absolute;
  content: "";
  top: 50%;
  bottom: 0;
  left: 15px;
  right: 15px;
  border-radius: 100px / 15px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.team-item:hover .team-text::after,
.service-item:hover .bg-light::after {
  opacity: 1;
}

.bg-offer {
  background: linear-gradient(#111d1df7, #111d1db5),
    url(../img/carousel-1.jpg) center center no-repeat;
  background-size: cover;
}

.offer-text {
  background: #9f987ed0;
}

.price-carousel .owl-nav {
  position: absolute;
  width: calc(100% + 45px);
  height: 45px;
  top: calc(50% - 22.5px);
  left: -22.5px;
  display: flex;
  justify-content: space-between;
  opacity: 0;
  transition: 0.5s;
}

.price-carousel:hover .owl-nav {
  opacity: 1;
}

.price-carousel .owl-nav .owl-prev,
.price-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: var(--primary);
  border-radius: 2px;
  font-size: 22px;
  transition: 0.5s;
}

.price-carousel .owl-nav .owl-prev:hover,
.price-carousel .owl-nav .owl-next:hover {
  background: var(--secondary);
}

div.dropdown-row > a.dropdown-item {
  display: inline-block;
  width: 48%;
}

/* Columns */
div.dropdown-multicol2 {
  width: 30em;
}
div.dropdown-multicol2 > div.dropdown-col {
  display: inline-block;
  width: 49%;
  vertical-align: top;
}

@media (max-width: 767px) {
  div.dropdown-multicol2 {
    width: 26em;
    font-size: 0.8em;
    transform: translateX(-32px);
  }
}

@media (min-width: 992px) {
  .dropdown-treatments {
    left: 100%;
    transform: translateX(-250px);
  }
}

img.respofix {
  width: 70%;
}

/* Media query for screens smaller than 768px (typical mobile devices) */
@media (max-width: 767px) {
  img.respofix {
    width: 100%;
  }
}
.bg-logo {
  background-image: url(../img/Kesgrave\ Dental\ Care\ Brand\ Marks-02.png);
  background-color: #ede8ddaf;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: multiply;
  background-position: center;
}

.footer-text {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
